{% extends 'BootGridApp/base.html' %}

{% block content %}
<div style="background: green">
<header>
    <h1><small>Page</small> <span>Two</span></h1>
</header>

<section>
    <p>stuff</p>
    <p>stuff</p>
    <p>stuff</p>
</section>
<!--i simply added and removed content as necessary for example the buttons uesd for previous and next-->
    <nav>
        <a href="{% url 'index' %}"><button>Previous</button></a>
        <a href="{% url 'pageThree' %}"><button>Next</button></a>
    </nav>
</div>
{% endblock content %}